@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo Ramon!</h1>
    <p>Feito por Isaac Luís Silva Santos, trabalho disponível no <a href="https://github.com/ZaPeZaPe/atividades/tree/main/Eclipse">github</a></p>
</div>
